/* Use Inter font from Google Fonts */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Body styles */

/* Light theme (default) */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  transition: background-color 0.5s ease;
}

body.dark-theme {
  background-color: black;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

/* Toggle theme button */

#theme-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 36px;
}

#theme-toggle-button::before {
  content: "🌙";
  transition: color 0.5s ease;
}

body.dark-theme #theme-toggle-button::before {
  content: "☀️";
  transition: color 0.5s ease;
}

@media (max-width: 768px) {
  #theme-toggle-button {
    font-size: 24px;
  }
}

/* Header styles */

#header {
  color: black;
  font-family: Inter, sans-serif;
  text-align: center;
  transition: color 0.5s ease;
}

body.dark-theme #header {
  color: white;
}

/* Controls styles */

#controls {
  display: flex;
  justify-content: center;
  max-width: 70vw;
}

#controls button {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

#controls button:hover {
  background-color: lightsteelblue;
  transition: background-color 0.5s ease;
}

#controls button:active {
  background-color: lightslategrey;
  transition: background-color 0.5s ease;
}

#controls button:disabled {
  background-color: black;
  cursor: not-allowed;
  transition: background-color 0.5s ease;
}

body.dark-theme #controls button {
  color: white;
  border: 2px solid white;
  background-color: black;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

body.dark-theme #controls button:hover {
  background-color: lightpink;
  transition: background-color 0.5s ease;
}

body.dark-theme #controls button:active {
  background-color: lightcoral;
  transition: background-color 0.5s ease;
}

body.dark-theme #controls button:disabled {
  background-color: black;
  cursor: not-allowed;
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  #controls {
    max-width: 90vw;
  }

  #controls button {
    font-size: 14px;
    padding: 4px 8px;
    margin: 2px;
  }
}

/* Board styles */

#board {
  position: relative;
  width: 70vw;
  height: 70vh;
  row-gap: 10px;
  column-gap: 10px;
}

.tile {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile:hover {
  background-color: lightsteelblue;
  transition: background-color 0.5s ease;
}

.tile:active {
  background-color: lightslategrey;
  transition: background-color 0.5s ease;
}

.tile.selected {
  background-color: greenyellow;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile:disabled {
  cursor: not-allowed;
}

.tile.completed-1 {
  background-color: deeppink;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile.completed-2 {
  background-color: deepskyblue;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile.completed-3 {
  background-color: gold;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile.completed-4 {
  background-color: green;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile.completed-5 {
  background-color: red;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

.tile.completed-6 {
  background-color: blue;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

body.dark-theme .tile {
  color: white;
  border: 2px solid white;
  background-color: black;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease,
    left 0.5s ease, top 0.5s ease;
}

body.dark-theme .tile:hover {
  background-color: lightpink;
  transition: background-color 0.5s ease;
}

body.dark-theme .tile:active {
  background-color: lightcoral;
  transition: background-color 0.5s ease;
}

body.dark-theme .tile.selected {
  background-color: orange;
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  #board {
    width: 90vw;
    height: 50vh;
  }

  .tile {
    font-size: 14px;
    padding: 4px 8px;
    margin: 2px;
  }
}

/* Toast styles */

.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  position: fixed;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  font-family: Inter, sans-serif;
}

.toastify-invalid-choice {
  background-color: lightgray;
}

body.dark-theme .toastify-invalid-choice {
  background-color: darkgray;
}

.toastify-correct {
  background-color: green;
}

body.dark-theme .toastify-correct {
  background-color: darkgreen;
}

.toastify-incorrect {
  background-color: red;
}

body.dark-theme .toastify-incorrect {
  background-color: darkred;
}

.toastify-partial {
  background-color: yellow;
}

body.dark-theme .toastify-partial {
  background-color: darkgoldenrod;
}

.toastify-duplicate {
  background-color: darkblue;
}

body.dark-theme .toastify-duplicate {
  background-color: darkslateblue;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  opacity: 0.4;
  padding: 0 5px;
}

.toastify-right {
  right: 15px;
}

.toastify-left {
  left: 15px;
}

.toastify-top {
  top: -150px;
}

.toastify-bottom {
  bottom: -150px;
}

.toastify-rounded {
  border-radius: 25px;
}

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px;
}

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

@media only screen and (max-width: 360px) {
  .toastify-right,
  .toastify-left {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
  }
}
